/* HTML Tags */
body {
    width: 1690px;
}

/* IDs */
#wrapper {
    width: 1690px;
    margin-top: 10px;
    background-color: #f3f3f3 !important;
}

#homePref {
    width: 805px;
    float: left;
    border: 3px solid #000;
}

#searchPref {
    width: 805px;
    float: right;
    border: 3px solid #000
}

/* Classes */


/* Menu */
.menu {
    background: #232f3e;
    font-size: 0.9em;
}

.menu ul {
    zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul:before,.menu ul:after {
    content: "";
    display: table;
}

.menu ul:after {
    clear: both;
}

.menu ul > li {
    float: left;
    position: relative;
}

.menu ul > li ul {
    font-size: 80%;
}

.menu ul > li:hover ul {
    max-height: 1000px;
    background: #232f3e;
    transform: perspective(400) rotate3d(0,0,0,0);
    -webkit-transform: perspective(400) rotate3d(0,0,0,0);
}

.menu a {
    display: block;
    padding: 10px 20px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.4s;
}

.menu a:hover {
    text-decoration: underline;
    transition-duration: 0.4s;
}

.menu a:hover .noline {
    text-decoration: none;
    transition-duration: 0.4s;
}

.menu a:active, a.thispage {
    background-color: #595999;
}

.menu li ul {
    position: absolute;
    left: 0;
    top: 39px;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin: 50% 0;
    transform: perspective(400) rotate3d(1,0,0,-90deg);
    transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.menu li ul li {
    width: 100%;
}

.menu li ul a {
    border: none;
}

.menu li ul a:hover {
    background: rgba(0,0,0,0.2);
}

.menu select {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 1px;
    margin-left: 80px;
    background-color: #f3f3f3;
    font-size:0.75em;
    color:#333;
    font-weight: bold;
}

/* Search */
.search label {
    font-size: 0.75em;
    color: #333;
    text-indent: -9999em;
    display: block;
    float: left;
}   

.search input[type="text"]{
    text-indent: 4px;
    padding: 0 0 0 40px;
    width: 0;
    height: 40px;
    background-image: url("images/search.png");
    background-size: 25px;
    background-position-x: 7px;
    background-position-y: 7px;
    background-repeat: no-repeat;
    background-color: #febd69;
    border: solid 1px;
    color:#666;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.search input[type="text"]:hover, .search input[type="text"]:focus {
    width: 900px;
    outline: none;
    cursor: text;
    background-color: #f3f3f3;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}