/* HTML Tags */
body {
    width: 1690px;
}

footer {
    margin-top: 50px;
}

/* IDs */
#wrapper {
    width: 1690px;
    margin-top: 10px;
    background-color: #f3f3f3 !important;
}

#homePref {
    width: 760px;
    float: left;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

#searchPref {
    width: 760px;
    float: right;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

#homePref td:nth-child(1), #searchPref td:nth-child(1) {
    width: 700px;
}

/* Classes */


/* Menu */
.menu {
    background: #232f3e;
    font-size: 0.9em;
}

.menu ul {
    zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul:before,.menu ul:after {
    content: "";
    display: table;
}

.menu ul:after {
    clear: both;
}

.menu ul > li {
    float: left;
    position: relative;
}

.menu ul > li ul {
    font-size: 80%;
}

.menu ul > li:hover ul {
    max-height: 1000px;
    background: #232f3e;
    transform: perspective(400) rotate3d(0,0,0,0);
    -webkit-transform: perspective(400) rotate3d(0,0,0,0);
}

.menu a {
    display: block;
    padding: 10px 20px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.4s;
}

.menu a:hover {
    text-decoration: underline;
    transition-duration: 0.4s;
}

.menu a:hover .noline {
    text-decoration: none;
    transition-duration: 0.4s;
}

.menu a:active, a.thispage {
    background-color: #595999;
}

.menu li ul {
    position: absolute;
    left: 0;
    top: 39px;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin: 50% 0;
    transform: perspective(400) rotate3d(1,0,0,-90deg);
    transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.menu li ul li {
    width: 100%;
}

.menu li ul a {
    border: none;
}

.menu li ul a:hover {
    background: rgba(0,0,0,0.2);
}

.menu select {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 1px;
    margin-left: 80px;
    background-color: #f3f3f3;
    font-size:0.75em;
    color:#333;
    font-weight: bold;
}

/* Search */
.search label {
    font-size: 0.75em;
    color: #333;
    text-indent: -9999em;
    display: block;
    float: left;
}   

.search input[type="text"]{
    text-indent: 4px;
    padding: 0 0 0 40px;
    width: 0;
    height: 40px;
    background-image: url("images/search.png");
    background-size: 25px;
    background-position-x: 7px;
    background-position-y: 7px;
    background-repeat: no-repeat;
    background-color: #febd69;
    border: solid 1px;
    color:#666;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.search input[type="text"]:hover, .search input[type="text"]:focus {
    width: 900px;
    outline: none;
    cursor: text;
    background-color: #f3f3f3;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

/* Checkbox */
.control {
	font-size: 18px;
    position: relative;
    float: right;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
    background: #e6e6e6;
    transition: 0.5s;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

.control:hover input ~ .control__indicator {
    background: #ccc;
    transition: 0.5s;
}
.control input:checked ~ .control__indicator {
    background: #ffa722;
    transition: 0.5s;
}

.control:hover input:not([disabled]):checked ~ .control__indicator {
    background: #f39303;
    transition: 0.5s;
}

.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
    background: #e6e6e6;
    transition: 0.5s;
}

.control__indicator:after {
	position: absolute;
	display: none;
    content: '';
    transition: 0.5s;
}

.control input:checked ~ .control__indicator:after {
    display: block;
    transition: 4s;
}

.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
    border-width: 0 2px 2px 0;
    transition: 0.5s;
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
    transition: 0.5s;
}

.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}